body{
  background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1080/1805/Planet-earth-surface-atmosphere_1920x1080.jpg);
  width: auto;
height: auto;
}
.divdiv{
background-color: transparent;
margin: 27px;
}
.active{
  background-color: yellow;
}
.btn{
  background-color: transparent;
}
.material-icons {
  color: #80deea;
}
